.App {
  font-size: calc(10px + 2vmin);
  width: 100%;
}
.App-heading{
  text-align: center;
  font-size: calc(24px + 2vmin);
  font-weight: 600;
  margin-bottom: 20px;
}
.form-wrapper{
  width: 98%;
  margin: auto;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 28px 0px rgba(92,92,88,0.3); 
  box-shadow: 0px 0px 28px 0px rgba(92,92,88,0.3);
}
.form-heading{
  color: black;
  text-align: left;
  font-size: calc(14px + 2vmin);
  font-weight: 500;
  text-decoration: underline;
} 
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col{
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.detail-container{
  padding: 5px 0;
}
label {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
sup {
  color: red;
}
input {
  font-size: 10px;
  font-weight: 300;
}

input[type="text"],
input[type="email"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #0077ff;
}
.validation-error{
  font-size: 10px;
  color: red;
  text-align: left;
}
.buttons{
  text-align: right;
}
button{
  width: 100px;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px 20px;
}
.cancel-btn{
  color: red;
  border: 1px solid red;
  background-color: white;
}
.submit-btn{
  color: white;
  border: 1px solid green;
  background-color: green;
}
button span{
  font-size: 10px;
  text-decoration: underline;
}
@media only screen and (max-width: 1024px) {
  /* For tablet: */
  .wrapper {
    grid-template-columns: 1fr auto;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .wrapper {
    grid-template-columns: 1fr;
  }
  .col {
    width: 100%;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
  label {
    display: block;
  }
  .buttons{
    text-align: center;
  }
  button{
    width: 100%;
    margin: 10px 0;
  }
}